<?xml version="1.0"?>
<config>
  <modules>
    <Atp_StockFilter>
      <version>0.0.0.1</version>
    </Atp_StockFilter>
  </modules>

  <global>
    <models>
      <atp_stockfilter>
	<class>Atp_StockFilter_Model</class>
      </atp_stockfilter>
    </models>
    <events>
      <sales_order_save_after>
        <observers>
          <disable_when_outofstock>
            <class>atp_stockfilter/observer</class>
            <method>checkStock</method>
          </disable_when_outofstock>
        </observers>
      </sales_order_save_after>
    </events>
  </global>
</config>
