/* Shopping Cart ========================================================================= */
/* Checkout Types */
.cart .checkout-types {
  float: none;
  text-align: right;
  overflow:hidden;
  list-style:none; margin:15px 0 0 0;
  position:absolute;
  top:7px; right:0
}

.cart .totals .checkout-types  {
  list-style:none; margin:10px 0 0 0;
  position:static;
  top:7px; right:0
}

.cart .totals .checkout-types li {margin:0 0 10px 0}

.cart .title-buttons {position:relative}
.cart .title-buttons .checkout-types li {

  margin: 0 0 5px 5px;
}
.cart .product-name {
	font-size:16px;
	line-height:19px;
	text-align:left
}
.cart .product-name a{
	color:#333
}

 
.cart .checkout-types .paypal-or {
  margin: 0 8px;
  line-height: 2.3;
}
.cart .totals .checkout-types .paypal-or {
  clear: both;
  display: block;
  padding: 3px 55px 8px 0;
  line-height: 1.0;
  font-size: 11px;
}
/* Shopping Cart Table */
.cart-table .item-msg {
  font-size: 10px;
}

.cart-table {
  width:100%
}



.cart-table th {text-align:center}
.cart-table th.col-thumb {width:100px}
.cart-table th.col-product-name {}
.cart-table th.col-edit { width:50px}
.cart-table th.col-move-to-wishlist { width:120px}
.cart-table th.col-unit-price {width:80px}
.cart-table th.col-qty {width:100px}
.cart-table th.col-subtotal {width:80px}
.cart-table th.col-remove {width:100px}

.cart-table td { text-align:center}
.cart-table .input-text.qty { width:60px; text-align:center; color:#555; font-size:11px} 
.cart-table td.last { text-align:right}




/* Shopping Cart Collateral boxes */
.cart .cart-collaterals {
  padding: 25px 0 0;
  overflow:hidden
}
.cart .cart-collaterals h2 {
	font-size:16px;
	line-height:20px;
	margin:0 0 10px 0
}

.cart .cart-collaterals .input-box {margin-bottom:10px}
.cart .cart-collaterals label {
	font-size:11px;
	line-height:16px
}
.cart .cart-collaterals .col2-set {
  float: left;
  width: 660px;
  overflow:hidden
}

.cart .cart-collaterals .col2-set .col-1 {
  float: left;
  width: 310px;
}

.cart .crosssell h2 {
  font-size: 13px;
  font-weight: bold;
}
.cart .crosssell .product-image {
  float: left;
  width: 75px;
  height: 75px;
  border: 1px solid #ddd;
}
.cart .crosssell .product-details {
  margin-left: 90px;
}
.cart .crosssell li.item {
  margin: 12px 0;
}
/* Discount Codes & Estimate Shipping and Tax Boxes */
/* Shopping Cart Totals */
.cart .totals {
  float: right;
  width:270px;

  
}
.cart .totals table {
  width: 100%;
  font-size:12px;
  line-height:26px
}
.cart .totals table th,
.cart .totals table td {
  padding: 5px;
}
.cart .totals table th {
  font-weight: bold;
}
/* Options Tool Tip */
.item-options dt {
  font-weight: bold;
  font-style: italic;
}
.item-options dd {
  padding-left: 10px;
}
.truncated {
  cursor: help;
}
.truncated a.dots {
  cursor: help;
}
.truncated a.details {
  cursor: help;
}
.truncated .truncated_full_value {
  position: relative;
  z-index: 999;
}
.truncated .truncated_full_value .item-options {
  position: absolute;
  top: -99999em;
  left: -99999em;
  z-index: 999;
  width: 250px;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
}
.truncated .truncated_full_value .item-options > p {
  font-weight: bold;
  text-transform: uppercase;
}
.truncated .show .item-options {
  top: -20px;
  left: 50%;
}
.col-left .truncated .show .item-options {
  left: 30px;
  top: 7px;
}
.col-right .truncated .show .item-options {
  left: -240px;
  top: 7px;
}
/* ======================================================================================= */
/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods dt {
  font-weight: bold;
}
.sp-methods .price {
  font-weight: bold;
}
.sp-methods .form-list {
  padding-left: 20px;
}
.sp-methods select.month {
  width: 150px;
  margin-right: 10px;
}
.sp-methods select.year {
  width: 96px;
}
.sp-methods input.cvv {
  width: 3em !important;
}
.sp-methods .checkmo-list li {
  margin: 0 0 5px;
}
.sp-methods .checkmo-list label {
  width: 135px;
  padding-right: 10px;
  text-align: right;
}
.sp-methods .checkmo-list address {
  float: left;
}
.sp-methods .centinel-logos a {
  margin-right: 3px;
}
.sp-methods .centinel-logos img {
  vertical-align: middle;
}
.sp-methods .release-amounts {
  margin: 0.5em 0 1em;
}
.sp-methods .release-amounts button {
  float: left;
  margin: 5px 10px 0 0;
}
.please-wait {
  float: right;
  margin-right: 5px;
}
.please-wait img {
  vertical-align: middle;
}
.cvv-what-is-this {
  cursor: help;
  margin-left: 5px;
}
/* Tooltip */
.tool-tip {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 5px;
  position: absolute;
  z-index: 9999;
}
.tool-tip .btn-close {
  text-align: right;
}
.tool-tip .btn-close a {
  display: block;
  margin: 0 0 0 auto;
  width: 15px;
  height: 15px;
  background: url(../images/btn_window_close.gif) 100% 0 no-repeat;
  text-align: left;
  text-indent: -999em;
  overflow: hidden;
}
.tool-tip .tool-tip-content {
  padding: 5px;
}
/* Gift Messages */
.gift-messages-form {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}
.gift-messages-form {
  position: relative;
}
.gift-messages-form label {
  float: none !important;
  position: static !important;
}
.gift-messages-form .item {
  margin: 0 0 10px;
}
.gift-messages-form .item .product-img-box {
  float: left;
  width: 75px;
}
.gift-messages-form .item .product-image {
  margin: 0 0 7px;
}
.gift-messages-form .item .number {
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.gift-messages-form .item .details {
  margin-left: 90px;
}
.gift-message-link {
  display: block;
  background: url(../images/bkg_collapse.gif) 0 4px no-repeat;
  padding-left: 20px;
}
.gift-message-link.expanded {
  background-position: 0 -53px;
}
.gift-message-row .btn-close {
  float: right;
}
.gift-message dt strong {
  font-weight: bold;
}
/* Checkout Agreements */
.checkout-agreements li {
  margin: 10px 0;
}
.checkout-agreements .agreement-content {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 5px;
  height: 10em;
  overflow: auto;
}
.checkout-agreements .agree {
  padding: 6px;
}
/* Centinel */
.centinel .authentication {
  border: 1px solid #ddd;
  background: #fff;
}
.centinel .authentication iframe {
  width: 99%;
  height: 400px;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
/* Generic Info Set */
/********** Common Checkout Styles > */
/* One Page Checkout */
.block-progress dt {
  font-weight: bold;
}
.block-progress dt.complete,
.block-progress dd.complete {
  background-color: #f6f6f6;
}
.opc {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.opc li.section {
  border: 1px solid #ddd;
  border-bottom: 0;
}
.opc .buttons-set.disabled button.button {
  display: none;
}
.opc .buttons-set .please-wait {
  height: 21px;
  line-height: 21px;
}
.opc .step-title {
  background-color: #f6f6f6;
  padding: 0 5px;
  text-align: right;
}
.opc .step-title .number {
  float: left;
  line-height: 22px;
  margin-right: 5px;
}
.opc .step-title h2 {
  float: left;
}
.opc .step-title a {
  display: none;
  float: right;
}
.opc .allow .step-title {
  cursor: pointer;
}
/*.opc .allow .step-title a { display:block; }*/
.opc .active .step-title {
  background-color: #ccc;
  cursor: default;
}
/*.opc .active .step-title a { display:none; }*/
.opc .step {
  border-top: 1px solid #ddd;
  padding: 10px;
  position: relative;
}
.opc .step .tool-tip {
  right: 10px;
}
/* Multiple Addresses Checkout */
.checkout-progress {
  padding: 0 50px;
  margin: 10px 0;
}
.checkout-progress li {
  float: left;
  width: 20%;
  border-top: 5px solid #ccc;
  text-align: center;
  color: #ccc;
}
.checkout-progress li.active {
  border-top-color: #000;
  color: #000;
}
.multiple-checkout {
  position: relative;
}
.multiple-checkout .tool-tip {
  top: 50%;
  margin-top: -120px;
  right: 10px;
}
.multiple-checkout .grand-total {
  font-size: 1.5em;
  text-align: right;
}
/* ======================================================================================= */
