html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fbfbfb;
  @include gradient-vertical(#fbfbfb, #ececec);
}

h1, h2, h3 {
  font-style: italic;
}

#page-header {
  padding-top: 14px;
  position: relative;
  margin-bottom: 20px;
  border-top: 6px solid #e3e3e3;
  .header-content {
    @include box-shadow(1px solid #fff);
    border-bottom: 1px solid lighten(#bbb, 18%);
    margin-left: 20px;
    .logo-container {
      margin-left: 0;
    }
  }
}

.logo-container {
  margin-bottom: 10px;
  height: 89px;
  strong {
    display: none;
  }
}

.quick-access .links {
  list-style: none;
  text-align: right;
  margin: 0;
  clear: both;
  li {
    display: inline;
    font-size: 12px;
    padding-left: 10px;
  }
}


#search_mini_form {
  padding: 15px 10px 10px;
  background: #e3e3e3;
  @include gradient-vertical(#e3e3e3, #fafafa);
  @include border-radius(0 0 3px 3px);
  @include box-shadow(1px solid #fff);
  border: 1px solid #e9e9e9;
  border-top: 0;
	margin-top: -20px;
  input {
    font-size: 12px;
    height: 16px;
  }
	.btn {
    font-size: 12px;
    line-height: 16px;
	}
}

@include sticky-footer(60px, "#page-root", "#page-root-footer", "#page-footer");

