// Core variables and mixins
@import "import.less";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-style: normal;
}

/* Tools */
.hidden {
  display:block !important;
  border:0 !important;
  margin:0 !important;
  padding:0 !important;
  font-size:0 a!important;
  line-height:0 !important;
  width:0 !important;
  height:0 !important;
  overflow:hidden !important;
}
.nobr {
  white-space:nowrap !important;
}
.wrap {
  white-space:normal !important;
}
.a-left {
  text-align:left !important;
}
.a-center {
  text-align:center !important;
}
.a-right {
  text-align:right !important;
}
.v-top {
  vertical-align:top;
}
.v-middle {
  vertical-align:middle;
}
.f-left,
.left {
  float:left !important;
}
.f-right,
.right {
  float:right !important;
}
.f-none {
  float:none !important;
}
.f-fix {
  float:left; width:100%;
}
.no-display {
  display:none;
}
.no-margin {
  margin:0 !important;
}
.no-padding {
  padding:0 !important;
}
.no-bg {
  background:none !important;
}


#page-root {
  min-height: 100%;
}

#page-header {
  padding-top: 0;
  position: relative;
  margin-bottom: 0px;
  border-top: 0px solid #e3e3e3;
  border-bottom: 0px solid #D4D4D4;
  background-image:url(../images/store_tabs_background.png);
  background-repeat:repeat-x;
  background-position:left top;
  .header-content {
    margin-left: 20px;
    .logo-container {
      margin-left: 0;
    }
  }
}

.page-content-wrapper {
  padding-top: 10px;
  padding-bottom: 200px;
}

.logo-container {
  margin-bottom: 10px;
  margin-top: 24px;
  height: 100px;
  position: relative;
  strong {
    display: block;
    position: absolute;
    width: 51px;
    height: 50px;
    top: 0;
    left: 178px;
    text-indent: -999em;
    background-position: 0 -765px;
  }
}

.logo {
  margin: 0;
}

.header-alternate {
  padding-top: 75px;
  position: relative;

  ul,
  ul li {
    list-style: none;
  }

  .top-container {
    position: absolute;
    top: 0;
    right: 0;

  }
  .alternate-block {
    float: left;
    padding-left: 80px;
    position: relative;
    // TODO: nope, this gotta be showed somewhere later
    &.best-gifts{
      display:none;
    }
    .block-title {
      font-style: italic;
      position: absolute;
      width: 70px;
      left: 0;
      top: 0;
      text-align: right;
    }
    .block-content {
      padding: 0 0;
      min-height: 65px;
      ul {
        margin: 0;
      }
    }

  }

}

#search_mini_form {
  margin-top: 0px;
  margin-right: -20px;
  .search-query {
    font-size: 12px;
    height: 16px;
    width: 140px;
    line-height: 16px;
    padding-right: 30px;
    .border-radius(3px);
  }
  .btn {
    background: none;
    padding: 4px 0;
    line-height: 16px;
    border: 0;
    box-shadow: none;
    left: -25px;
    position:relative;
    span {
      display: none;
    }
  }
}


#page-footer {
  font-size: 12px;
  background: #fff;
  border-top: 0px solid #D4D4D4;
  position: relative;
  margin-top: -200px;
  height: 199px;
  clear: both;
  text-align:center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display:inline;
    }
  }

  .page-footer-content {
    border-top:1px solid #D4D4D4
  }

  .span12 {
    position: relative;
  }

  .block-subscribe {
    .block-title {
      display:none
    }
    .block-content {
      padding: 0;
    }
    .form-subscribe-header label {
      font-size:12px
    }
    .input-box {
      width:140px;
      float: left;
      input {
        width: 120px;
         .border-radius(15px)
      }
    }
    .actions {
      float: left;
      width:90px;
      .btn {
        font-size: 12px;
        width: 84px;
      }
    }
  }

}


/* Sprites */
.logo-container strong,
.best-gifts .block-title {
  background-image: url(../images/sprites-header.png);
}


/* Alternate Blocks */
.header-alternate .links {
  list-style: none;
  text-align: right;
  margin: 5px 0 10px;
  clear: both;
  li {
    display: inline;
    text-transform: none;
    font-size: 12px;
    text-transform: none;
    padding-left: 10px;
    i {
      opacity: 0.4;
      margin-top: -1px;
    }
    &:hover i {
      opacity: 0.8;
    }
    a {
      color: #222;
      &:hover,
      &:active,
      &.active {
        text-decoration: none;
      }
    }
  }
}


// @TODO: gotta use sprites here
.store-switcher {

  ul {
    height: 62px;
    width: 410px;
    overflow: hidden;
    padding-right:8px;
    margin-right:-8px;
  }
  li {
    display: block;
    float: right;
    width: 0px;    padding-left: 0;
    margin-left: 0px;
    background-position: left top;
    background-repeat: no-repeat;
    .box-shadow(0px 0px 8px rgba(0,0,0,.3));
    position:relative;
    z-index:1;
    &.selected {
      display: block;
      z-index:2;
     a {  }
    }

    a {
      //font-family: @serifFontFamily;
      //font-style: italic;
      font-size: 14px;
      line-height: 16px;
      display: block;
      color: #555;
      padding-right: 0;
      background-position: right top;
      background-repeat: no-repeat;
      background-color: #f1f1f1;
      #gradient .vertical(#e2e0e0, #f1f1f1);
      &:hover{
        text-decoration: none;
        color:inherit;
        background-color: #e2e0e0;
         #gradient .vertical(#d4d3d3, #e2e0e0);
      }
      span {
        display: block;
        padding-top: 14px;
        padding-left: 80px;
        padding-right: 10px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: 6px top;
      }
    }

    &.store-1 a span {
      background-image:url(../images/jewelry-store-icon.png);
    }

    &.store-2 a span {
      background-image:url(../images/ceramic-store-icon.png);
    }

    &.store-1.selected a,
    &.store-2.selected a {
      background-color: #ffffff;
      #gradient .vertical(#f1f1f1, #ffffff);
    }
    &.store-1{
      width:200px;
    }
    &.store-2{
      width:200px;
    }

  }
}

// @INTERNAL: Why just when js is enabled?
.js .store-switcher li.selected a,
.js .store-switcher li a:hover {
  background-color:#fff
}

// @TODO: this should be moved from header scope
.best-gifts {
  .block-title {
    background-position: 0 -322px;
    text-indent: -999em;
    display: block;
    height: 65px;
    span {
      visibility: hidden;
    }
  }
  li {
    font-size: 12px;
    line-height: 18px;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  display: none
}


// ATP navbar
// -------------------------
.navbar-atp {

  .navbar-inner {
    background: none;
    .border-radius(0);
    .box-shadow(none);
    border-width: 0 0 0px 0;
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown-menu {
    top: 85%;
    a {
      font-size: 13px;
    }
  }

  .brand,
  .nav > li > a {
    text-shadow: none;
    font-weight: normal;
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .nav > li > a > .caret {
    margin-left: 7px;
    margin-top: 10px !important;
    opacity: .5;
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: transparent;
  }

  .nav .active > a,
  .nav .active > a:hover,
  .nav .active > a:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

  // Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
  }


  .nav > li.level0 > a {
    font-size: 13px;
    text-transform: uppercase;
    font-weigth: bold
  }
}


// Home
// INTERNAL: Move away from global!!
.cms-home .navbar-atp .navbar-inner {
  border-bottom: 0;
}
