<?xml version="1.0"?>
<config>
  <modules>
    <Atp_UspsCustoms>
      <version>0.0.0.1</version>
    </Atp_UspsCustoms>
  </modules>
  <global>
    <resources>
      <uspscustoms_setup>
        <setup>
          <module>Atp_UspsCustoms</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </uspscustoms_setup>
    </resources>
    <models>
      <uspscustoms>
        <class>Atp_UspsCustoms_Model</class>
      </uspscustoms>
      <usa>
        <rewrite>
          <shipping_carrier_usps>Atp_UspsCustoms_Model_Shipping_Carrier_Usps</shipping_carrier_usps>
        </rewrite>
      </usa>
      <shipping>
        <rewrite>
          <shipping>Atp_UspsCustoms_Model_Shipping</shipping>
        </rewrite>
      </shipping>
    </models>
    <sales>
      <shipping>
        <carriers>
          <combined>
            <class>Atp_UspsCustoms_Model_Shipping_Carrier_Combined</class>
          </combined>
        </carriers>
      </shipping>
    </sales>
  </global>
</config>
